server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
          default-filters:
            - name: AddResponseHeader
              args:
                name: X-Gateway
                value: SpringCloudGateway
          routes:
            - id: back-end
              uri: http://localhost:8080
              predicates:
                - Path=/api/**
            - id: EBReport
              uri: http://localhost:8082
              predicates:
                - Path=/report-tool/**